.top-div{
    width: 100%;
    margin-top: 0px;
    border-style: none;
    border-bottom: .5px solid black;
    height: 10vh;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.logo{
    top: -90px;
    margin-top: 40px;
    position: absolute;
    height: 235px;
    width: 230px;
    left: -40px;
}

.writer{
    position: absolute;
    align-items: center;
    top: 20px;
    right: 200px;
    display: flex;
    font-size: 23px;
    text-decoration: none;
    color: rgb(178, 178, 178);
    font-family:'Inter', sans-serif;

  
}



.writing{

    height: 80px;
    width: 70px;
    margin-left: -10px;
    

}
     

.search{
    position: absolute;
    top: 25px;
    left: 180px;
    width: 275px;
    height: 60px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 20px 60px; */
    border-radius: 10px;
    font-family:'Inter', sans-serif;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.3);


    background-image: url("../Accessories/search.png");
    background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 25px; 


}
.search::placeholder{
    color: rgba(0, 0, 0, 0.3);
}
.search:focus{
    background-image: none;
}
.search:hover{
    background-image: none;  
}



.dropdown {

			position: absolute;
			display: inline-block;
            top: 33px;
            right: 100px ;

        
		}
        .profile-button{
            border: none;
            background-color: white;
        }

		.dropdown-content {
			display: none;
			position: absolute;
			z-index: 1;
		}

		.dropdown:hover .dropdown-content {
			display: block;
           
		}

		.dropdown-content a {
            border-style: solid;
            border-radius: 20px;
            border-width: 0px;
            width: 100px;
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: flex;
		}



        .dropdown-content a img{
            
            width: 20px;
            height: 20px;
            padding-right: 15px;
        }

      
   
		.dropdown-content a:hover {
			background-color: black;
            color: white;
        
		}

        .dropdown-content a:nth-of-type(1):hover img {
        content: url('../Accessories/user.png');
}

        .dropdown-content a:nth-of-type(2):hover img {
        content: url('../Accessories/script.png');
}

        .dropdown-content a:nth-of-type(3):hover img {
        content: url('../Accessories/cogwheel.png');
}

.dropdown-content a:nth-of-type(4):hover img {
        content: url('../Accessories/log-out.png');
}

img.expand{
    height: 40px;
    width: 40px;
    font-weight: lighter;
    margin-left: -15px;
}
img.userprofile{
    background-color: white;
}


.article {
    margin-left: 50px;
    width: 500px; /* set the fixed width */
    height: 100px; /* set the fixed height */
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  
    
  }
  
  .content {
    display: inline-block;
    margin-right: 10px;
  }
  
  .feature-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

 

  p.title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 0px;
    margin-right: 100px;
    margin-top: -15px;
  }

  p.date{
    margin-right: 200px;
    margin-top: -15px;
  }

  div.articleimage{
    position: relative;
    bottom: 0px;
    padding-right:0px;
    width: 150px; /* set the fixed width */
    height: 150px; /* set the fixed height */
 
    

 
  }
  
  .articleimage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0px;
  }
  

  img.icon{
    height:50px;
  }
